{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static 'service/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'service/reset.css' %}" rel="stylesheet" />
    <link href="{% static 'service/base.css' %}" rel="stylesheet" />
    <link href="{% static 'service/homepage.css' %}" rel="stylesheet" />
    <link href="{% static 'service/mypage.css' %}" rel="stylesheet" />
    <!-- font start -->
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <!-- font end -->
  </head>
  <body>
    <h1 class="MainTitle center px80">SRVM</h1>
    <span class="MainSub">
      <h2 class="MainSubTitle px40 sub1_color">내 정보</h2>
      <nav>
        <ul class="MyPageNavigation px15 sub1_color">
          <span class="main_color NavButton" style="cursor: pointer"
            >대여목록</span
          >
          <span>/</span>
          <span class="NavButton" style="cursor: pointer">포인트</span>
          <span>/</span>
          <span class="NavButton" style="cursor: pointer">대여기록</span>
        </ul>
        <ul class="MainNavigation px15 sub1_color">
          <span class="NavButton" style="cursor: pointer">Home</span>
          <span>/</span>
          <span class="NavButton" style="cursor: pointer">Logout</span>
        </ul>
      </nav>
    </span>

    <main class="productArea">
      <div class="productElement">
        <div class="item">
          <h3 class="productName px30">스마트폰</h3>
          <h4 class="productLocation px15 sub1_color">영남이공대점</h4>
          <button class="productButton button_color" style="cursor: pointer">
            <span>반납</span>
          </button>
          <img
            src="{% static 'service/img/sample1.png' %}"
            class="productImg"
          />
        </div>
      </div>
    </main>
  </body>
</html>
