{%with messages = get_flashed_messages()%}
        {%if messages %}
                <script type="text/javascript">
                        alert("{{messages[-1]}}");
                </script>
        {%endif%}
{%endwith%}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
      
    <!-- font start -->
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <!-- font end -->
  </head>
  <body>
    <h1 class="MainTitle center px100">SRVM</h1>

    <form action="/loginAction" method="POST" class="loginForm px24 sub1_color">
      <ul>
        <li>
          <span>
            <input placeholder="Username" name="id" id="user" class="loginFormInput" required />
          </span>
        </li>
        <li>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            class="loginFormInput sub1_color"
            required
          />
        </li>
        <li>
          <button type="submit" class="loginFormButton button_color">Login</button>
        </li>
      </ul>
      <br>not register? <button onclick="location.href='/register'" class="Register button">Register</button>
    </form>
  </body>
</html>
